.formContainer {
    padding: 30px;
    background-color: #f7f7f7;
    min-height: 100vh;
    display: block;
    box-sizing: border-box;
    .baseWrap {
        background-color: #fff;
        border-radius: 15px;
        padding: 20px;
        position: relative;
        margin-top: 50px;
        padding-top: 150px;
    }
}